<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTVJonathanValentin</title>
</head>
<body>
    <h1 style="text-align:center">MTV Jonathan Valentin</h1>
    <h3>CARGA DE FAMILIARES:</h3>
    
    <h3>Familiar #1:</h3>
    <li>Apellido: {{ Apellido1 }}</li>
    <li>Nombre: {{ Nombre1 }}</li>
    <li>Edad: {{ Edad1 }}</li>
    <li>Fecha de nacimiento: {{ FechaDeNacimiento1 }}</li>
    <li>Parentesco: {{ Parentesco1 }}</li>
    
    <h3>Familiar #2:</h3>
    <li>Apellido: {{ Apellido2 }}</li>
    <li>Nombre: {{ Nombre2 }}</li>
    <li>Edad: {{ Edad2 }}</li>
    <li>Fecha de nacimiento: {{ FechaDeNacimiento2 }}</li>
    <li>Parentesco: {{ Parentesco2 }}</li>
    
    <h3>Familiar #3:</h3>
    <li>Apellido: {{ Apellido3 }}</li>
    <li>Nombre: {{ Nombre3 }}</li>
    <li>Edad: {{ Edad3 }}</li>
    <li>Fecha de nacimiento: {{ FechaDeNacimiento3 }}</li>
    <li>Parentesco: {{ Parentesco3 }}</li>


</body>
</html>